[submodule "stb"]
	path = stb
	url = https://github.com/TzuChieh/stb.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/TzuChieh/googletest.git
[submodule "Asio"]
	path = Asio
	url = https://github.com/TzuChieh/asio.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/TzuChieh/zlib.git
[submodule "OpenEXR"]
	path = OpenEXR
	url = https://github.com/TzuChieh/openexr.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/TzuChieh/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/TzuChieh/imgui.git
[submodule "glad"]
	path = glad
	url = https://github.com/TzuChieh/glad.git
[submodule "concurrentqueue"]
	path = concurrentqueue
	url = https://github.com/TzuChieh/concurrentqueue.git
[submodule "json"]
	path = json
	url = https://github.com/TzuChieh/json.git
